$mainColor: #005663;

.right.floated.content {
    button {
        width: 170px;
    }
}

.list-form .right.content > a.button {
    width: 170px;
}

.right.floated.content button {
    width: 170px;
}

.form-name {
    color: #4183c4 !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 5px;
}

.ui.tab.segment {
    border: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
}

.ui.attached.tabular.menu {

    a.item {
        padding: .92857143em 60px;
        border-radius: 0 !important;
        background: #f1f1f1;
        border-right: 1px solid #dcdcdc;
        border-top: 1px solid #dcdcdc;

        &:hover {
            background: #dcdcdc;
        }

        &.active {
            border-top: 2px solid $mainColor;
            background-color: #fff;
        }

        i.icon {
            font-size: 20px;
        }

        span {
            background: $mainColor;
            padding: 5px;
            border-radius: 5px;
            color: #fff;
            margin-left: 10px;
        }
    }
}